body {
	margin: 0;
	padding: 0;
	background-color: #e6ffe6;
}

h1 {
	position: absolute;
	top: 0%;
	left: 25%;
}

header {
	position: center;
	left: 0px;
	top: 0px;
}

img.logo {
	position: absolute;
	width: 100px;
	height: 100px;
	left: 20px;
	top: 20px;
}

nav {
	position: absolute;
	left: 35%;
	top: 20%;
}

a {
	color: blue;
}

main {
	position: absolute;
	left: 4%;
	top: 25%;
}

table, tr, td, th {
	border: 1px solid black;
	border-collapse: collapse;
	font-size: 18px;
	text-align: center;
	padding-right: 8px;
	padding-left: 8px;
}

th {
	font-size: 24px;
}